@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="JfwcqkAssessForm">

            <input type="hidden" id="id" value="">

            <div class="row">

                <div class="col-sm-6 b-r">
                    <#input id="userId" name="用户id" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="assessName" name="经费项目" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jfwcf" name="经费完成费" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="mainNormPoint" name="校级分" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="year" name="年度" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="coePoint" name="考核系数" underline="true"/>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="JfwcqkAssessInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="JfwcqkAssessInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/assess/jfwcqkAssess/jfwcqkAssess_info.js"></script>
@}
