@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="JobForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="name" name="名称" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="des" name="描述"  underline="true"/>
                </div>

                <div class="col-sm-6 b-r">
                    <#select id="status" name="状态" items="${constant.getDictsByName('通用状态')}"
                    itemLabel="name" itemValue="num" underline="true"/>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="JobInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="JobInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/job/job/job_info.js"></script>
@}
