@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="SpecialAssessForm">

            <input type="hidden" id="id" value="${id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#fileUpload id="fileName" name="绩效数据表格" underline="true" accept="file" exts="xlsx,xls" mineType="application/excel"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SpecialAssessInfoDlg.importAssess()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SpecialAssessInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/payment/specialAssess/specialAssess_info.js"></script>
@}
