@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="DzbWorkAssessForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">

                <div class="col-sm-6 b-r">
                    <#input id="zbdf" name="支部得分" value="${item.zbdf}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="name" name="名称" value="${item.name}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="result" name="考核结果" value="${item.result}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="year" name="考核年度" value="${item.year}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="mainNormPoint" name="校级指标分" value="${item.mainNormPoint}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="collegeNormPoint" name="院级浮动值" value="${item.collegeNormPoint}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DzbWorkAssessInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DzbWorkAssessInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/assess/dzbWorkAssess/dzbWorkAssess_info.js"></script>
@}
