<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.assess.dao.AssessNormPointMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.assess.model.AssessNormPoint">
            <id column="id" property="id" />
            <result column="user_id" property="userId" />
            <result column="year" property="year" />
            <result column="jxdd_main" property="jxddMain" />
            <result column="jxdd_college" property="jxddCollege" />
            <result column="zzpa_main" property="zzpaMain" />
            <result column="zzpa_colleage" property="zzpaColleage" />
            <result column="sdsf_main" property="sdsfMain" />
            <result column="sdsf_college" property="sdsfCollege" />
            <result column="zzjl_main" property="zzjlMain" />
            <result column="zzjl_colleage" property="zzjlColleage" />
            <result column="dfdj_main" property="dfdjMain" />
            <result column="dfdj_college" property="dfdjCollege" />
            <result column="ysxt_main" property="ysxtMain" />
            <result column="ysxt_college" property="ysxtCollege" />
            <result column="ldjl_main" property="ldjlMain" />
            <result column="ldjl_college" property="ldjlCollege" />
            <result column="dept_id" property="deptId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	    anp.id AS id,
	    user_id AS userId,
	    year AS year,
	    jxdd_main AS jxddMain,
	    jxdd_college AS jxddCollege,
	    zzpa_main AS zzpaMain,
	    zzpa_colleage AS zzpaColleage,
	    sdsf_main AS sdsfMain,
	    sdsf_college AS sdsfCollege,
	    zzjl_main AS zzjlMain,
	    zzjl_colleage AS zzjlColleage,
	    dfdj_main AS dfdjMain,
	    dfdj_college AS dfdjCollege,
	    ysxt_main AS ysxtMain,
	    ysxt_college AS ysxtCollege,
	    ldjl_main AS ldjlMain,
	    ldjl_college AS ldjlCollege,
	    kygz_main AS kygzMain,
	    kygz_college AS kygzCollege,
	    zyjs_main AS zyjsMain,
	    zyjs_college AS zyjsCollege,
	    xsgz_main AS xsgzMain,
	    xsgz_college AS xsgzCollege,
	    glfw_main AS glfwMain,
	    glfw_college AS glfwCollege,
	    jxgz_main AS jxgzMain,
	    jxgz_college AS jxgzCollege,
	    dzbgz_main AS dzbgzMain,
	    dzbgz_college AS dzbgzCollege,
	    fdyszgz_main AS fdyszgzMain,
	    fdyszgz_college AS fdyszgzCollege,
	    szjsszgz_main AS szjsszgzMain,
	    szjsszgz_college AS szjsszgzCollege,
	    bzry_main AS bzryMain,
	    bzry_college AS bzryCollege,
	    fdyrcgz_main AS fdyrcgzMain,
	    fdyrcgz_college AS fdyrcgzCollege,
	    sxjx_main AS sxjxMain,
	    sxjx_college AS sxjxCollege,
	    rypz_main AS rypzMain,
	    rypz_college AS rypzCollege,
	    jshj_main AS jshjMain,
	    jshj_college AS jshjCollege,
	    shpxgz_main AS shpxgzMain,
	    shpxgz_college AS shpxgzCollege,
	    jfwcqk_main AS jfwcqkMain,
	    jfwcqk_college AS jfwcqkCollege,
	    anp.dept_id AS deptId
    </sql>
    <select id="selectPage" resultType="com.stylefeng.guns.modular.assess.model.AssessNormPoint">
        select
        <include refid="Base_Column_List"/>
        from assess_norm_point anp
        left join sys_user su on su.id = anp.user_id
        <where>
            <if test="year != null and year != ''">
                and year = #{year}
            </if>
            <if test="expand.account != null and expand.account != ''">
                and su.account = #{expand.account}
            </if>
            <if test="expand.name != null and expand.name != ''">
                and su.name = #{expand.name}
            </if>
            <if test="expand.dept != null">
                and anp.dept_id = #{expand.deptId}
            </if>
        </where>
    </select>

</mapper>
