<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.assess.dao.NormalAssessMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.assess.model.NormalAssess">
            <id column="id" property="id" />
            <result column="dept_id" property="deptId" />
            <result column="user_id" property="userId" />
            <result column="norm_id" property="normId" />
            <result column="result" property="result" />
            <result column="year" property="year" />
            <result column="create_time" property="createTime" />
            <result column="status" property="status" />
            <result column="proc_ins_id" property="procInsId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	    na.id AS id,
	    na.dept_id AS deptId,
	    user_id AS userId,
	    norm_id AS normId,
	    jb,
	    dc,
	    result AS result,
	    coe_point AS coePoint,
	    main_norm_point AS mainNormPoint,
	    college_norm_point AS collegeNormPoint,
	    na.year AS year,
	    na.create_time AS createTime,
	    na.main_point AS mainPoint,
	    na.assess_name AS assessName,
	    na.status AS status,
	    proc_ins_id AS procInsId
    </sql>
    <select id="selectPage" resultType="com.stylefeng.guns.modular.assess.model.NormalAssess">
        select <include refid="Base_Column_List" /> from normal_assess na
        left join assess_norm an on na.norm_id = an.id
        left join sys_user su on na.user_id = su.id
        <where>
            <if test="type != null and type != ''">
                and na.type = #{type}
            </if>
            <if test="expand.name != null and expand.name != ''">
                and su.name = #{expand.name}
            </if>
            <if test="expand.account != null and expand.account != ''">
                and su.account = #{expand.account}
            </if>
            <if test="year != null and year != ''">
                and na.year = #{year}
            </if>
            <if test="deptId != null">
                and an.dept_id = #{deptId}
            </if>
            <if test="status != null">
                and an.status = #{status}
            </if>
            <if test="createTime != null">
                and na.create_time = #{createTime}
            </if>
        </where>
    </select>

</mapper>
