<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.assess.dao.RypzAssessMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.assess.model.RypzAssess">
            <id column="id" property="id" />
            <result column="user_id" property="userId" />
            <result column="assess_name" property="assessName" />
            <result column="main_point" property="mainPoint" />
            <result column="year" property="year" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	    id AS id,
	    user_id AS userId,
	    assess_name AS assessName,
	    main_point AS mainPoint,
	    year AS year
    </sql>

</mapper>
