@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="userInfoForm">
		
			<input type="hidden" id="id" value="">

			<div class="row">
				<div class="col-sm-6 b-r">
					<#input id="account" name="职工编号" underline="true"/>

					<#input id="password" name="密码" underline="true" type="password"/>

                    <#select id="deptId" name="部门" items="${deptList}"
                    itemLabel="name" itemValue="id" underline="true"/>
				</div>
				<div class="col-sm-6">
					<div id="driverInfoContent">
						<#input id="name" name="姓名" underline="true"/>

                        <#select id="sex" name="性别" items="${constant.getDictsByName('性别')}"
                        itemLabel="name" itemValue="num" underline="true"/>

                        <#select id="jobId" name="岗位"  underline="true"/>
                    </div>
				</div>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoDlg.addSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserInfoDlg.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/system/user/user_info.js"></script>
@}
