@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="MajorBuildForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="principalId" value="${item.principalId}">
            <input type="hidden" id="taskId" value="${act.taskId}">
            <input type="hidden" id="procInsId" value="${act.procInsId}">
            <input type="hidden" id="taskDefKey" value="${act.taskDefKey}">
            <input type="hidden" id="normId" value="${norm.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="comment" type="textarea" name="意见" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="name" name="名称" value="${item.name}" underline="true" readonly="readonly"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="time" name="立项时间" value="${item.time}" underline="true" readonly="readonly"/>
                </div>
                @select(act.taskDefKey){
                @   case "dean_audit","major_build_handle_audit","deans_office_leader_audit":
                <div class="col-sm-6 b-r">
                    <#input id="normName" name="指标名称" value="${norm.content}" underline="true" readonly="readonly"/>
                </div>
                @case "hr_handle_audit":
                <div class="col-sm-6 b-r">
                    <#input id="checkYear" name="设置年度" underline="true" />
                </div>
                @case "principal_audit":
                <div class="col-sm-6 b-r">
                    <#button btnCss="info" name="添加职工" icon="fa-plus" clickFun="MajorBuildInfoDlg.addItem()"/>
                    总共${norm.point/2}分，分配剩下分数归项目负责人
                </div>
                <div class="col-sm-12 b-r" id="itemsArea">

                </div>
                @}
            </div>
            @select(act.taskDefKey){
            @   case "dean_audit","hr_handle_audit","hr_leader_audit":
            <table id="assessTable" lay-filter="test"></table>
            @}

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="通过" id="ensure" icon="fa-check" clickFun="MajorBuildInfoDlg.auditCheckSubmit(1)"/>
                    <#button btnCss="danger" name="驳回" id="cancel" icon="fa-eraser" clickFun="MajorBuildInfoDlg.auditCheckSubmit(0)"/>
                    @if(act.taskDefKey == "hr_leader_audit"){
                    <#button btnCss="danger" name="重新设置年度" id="cancel" icon="fa-eraser" clickFun="MajorBuildInfoDlg.auditCheckSubmit(2)"/>
                    @}
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="MajorBuildInfoDlg.close()"/>
                </div>
            </div>
            <#histoicFlow procInsId="${act.procInsId}"/>
        </div>

        <script type="text/template" id="itemTemplate">
            <form class="form col-sm-1 " name="MajorBuildItem" id="MajorBuildItem">
                <div class="form-group">
                    <label>职工编号</label>
                    <input class="form-control" type="text" name="userNo" >
                </div>
                <div class="form-group">
                    <label>校级分</label>
                    <input class="form-control" type="text" name="mainPoint" >
                </div>
                <div class="form-group">
                    <#button btnCss="danger" name="删除" id="cancel" icon="fa-remove" clickFun="MajorBuildInfoDlg.deleteItem(event)"/>
                </div>
            </form>
        </script>
    </div>
</div>
<script>
    var proInsId = '${act.procInsId}';
    var dataUrl = "/majorBuild/act/data/check";
</script>
<script src="${ctxPath}/static/modular/assess/majorBuild/majorBuild_info.js"></script>
@}
