@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="JobTaskForm">

            <input type="hidden" id="id" value="">
            <input type="hidden" id="userId" value="${userId!}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#select id="dutiesId" name="职责快捷选择" underline="true" />
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="duties" name="职责" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="point" name="任务分" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="des" name="任务描述" type="textarea" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="JobTaskInfoDlg.addReport()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/job/jobTask/jobTask_report.js"></script>
@}
