@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="JobTaskForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="taskId" value="${act.taskId}">
            <input type="hidden" id="procInsId" value="${act.procInsId}">
            <input type="hidden" id="taskDefKey" value="${act.taskDefKey}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="dd" value="${duties}" name="职责" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="point" name="任务分" value="${item.point}" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="des" name="任务描述" value="${item.des}" underline="true" readonly="true"/>
                </div>
                @select(act.taskDefKey){
                @   case "user_confirm","re_nominate_apply":
                <div class="col-sm-6 b-r">
                    <#select id="applyUserId" name="申请协助人" items="${userList}"
                    itemLabel="name" itemValue="id" underline="true"/>
                </div>
                @   case "re_nominate_appoint":
                <div class="col-sm-6 b-r">
                    <#select id="appointUserId" name="委派协助人" items="${userList}"
                    itemLabel="name" itemValue="id" underline="true" noSelectText="无指派不需要选择"/>
                </div>
                @case "user_handle":
                <div class="col-sm-6 b-r">
                    <#input id="userDes" type="textarea" name="经办办理结果" underline="true"/>
                </div>
                @case "appoint_handle":
                <div class="col-sm-6 b-r">
                    <#input id="appointUserDes" value="${item.appointUserDes}" type="textarea"  name="委派办理结果" underline="true"/>
                </div>
                @case "apply_handle":
                <div class="col-sm-6 b-r">
                    <#input id="applyUserDes" type="textarea"  name="经办协助人办理结果" underline="true"/>
                </div>
                @case "user_summary":
                <div class="col-sm-6 b-r">
                    <#input id="d" type="textarea" value="${item.applyUserDes}"  name="经办协助人办理结果" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="summary" type="textarea" value="${item.summary!}" name="经办汇总结果" underline="true"/>
                </div>
                @case "summary_confirm":
                <div class="col-sm-6 b-r">
                    <#input id="d" type="textarea" value="${item.summary}"  name="经办汇总结果" underline="true" readonly="true"/>
                </div>
                @case "appoint_handle_confirm":
                <div class="col-sm-6 b-r">
                    <#input id="d" type="textarea" value="${item.appointUserDes}"  name="委派办理结果" underline="true" readonly="true"/>
                </div>
                @case "score":
                <div class="col-sm-6 b-r">
                    <#input id="dd" type="textarea" value="${item.userDes}" name="经办办理结果" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="da" type="textarea" value="${item.summary}"  name="经办汇总结果" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="userPoint" value="${userPoint}" name="经办人得分" underline="true"/>
                </div>
                @if(item.applyUserId != null){
                <div class="col-sm-6 b-r">
                    <#input id="applyUserPoint" value="${applyPoint}" name="经办协助人得分" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="d" type="textarea" value="${item.applyUserDes}"  name="经办协助人办理结果" underline="true" readonly="true"/>
                </div>
                @}
                @if(item.appointUserId != null){
                <div class="col-sm-6 b-r">
                    <#input id="appointUserPoint" value="${appointPoint}" name="委派协助人得分" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="db" type="textarea" value="${item.appointUserDes}"  name="委派协助人办理结果" underline="true" readonly="true"/>
                </div>
                @}

                @case "re_nominate_user":
                <div class="col-sm-6 b-r">
                    <#select id="userId" name="经办人" items="${userList}"
                    itemLabel="name" itemValue="id" underline="true"/>
                </div>
                @}

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    @select(act.taskDefKey){
                    @   case "user_confirm","apply_user_confirm","appoint_handle_confirm","appoint_user_confirm","summary_confirm":
                    <#button btnCss="info" name="通过" id="ensure" icon="fa-check" clickFun="JobTaskInfoDlg.editSubmit(1)"/>
                    <#button btnCss="danger" name="拒绝" id="cancel" icon="fa-eraser" clickFun="JobTaskInfoDlg.editSubmit(0)"/>
                    @   case "re_nominate_apply":
                    <#button btnCss="info" name="重新申请" id="ensure" icon="fa-check" clickFun="JobTaskInfoDlg.editSubmit(1)"/>
                    <#button btnCss="danger" name="不申请" id="cancel" icon="fa-eraser" clickFun="JobTaskInfoDlg.editSubmit(0)"/>
                    @   case "re_nominate_appoint":
                    <#button btnCss="info" name="重新指派" id="ensure" icon="fa-check" clickFun="JobTaskInfoDlg.editSubmit(1)"/>
                    <#button btnCss="danger" name="不指派" id="cancel" icon="fa-eraser" clickFun="JobTaskInfoDlg.editSubmit(0)"/>
                    @   case "re_nominate_user","appoint_handle","user_handle","apply_handle","user_summary","score":
                    <#button btnCss="info" name="确认" id="ensure" icon="fa-check" clickFun="JobTaskInfoDlg.editSubmit(1)"/>
                    @}

                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="JobTaskInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/job/jobTask/jobTask_info.js"></script>
@}
