@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="JobTaskForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="procInsId" value="${item.procInsId}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="dd" value="${item.duties}" name="职责" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="dpoint" name="任务分" value="${item.point}" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="des" name="任务描述" value="${item.des}" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="dd" type="textarea" value="${item.userDes}" name="办理结果" underline="true" readonly="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="point" value="${userPoint}" name="经办人得分" type="textarea" underline="true" readonly="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="JobTaskInfoDlg.close()"/>
                </div>
            </div>
            <#histoicFlow procInsId="${item.procInsId}"/>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/job/jobTask/jobTask_report.js"></script>
@}
