@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="YearJsAssessForm">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="taskId" value="${act.taskId}">
            <input type="hidden" id="procInsId" value="${act.procInsId}">
            <input type="hidden" id="taskDefKey" value="${act.taskDefKey}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="comment" type="textarea" name="意见" underline="true"/>
                </div>
                @select(act.taskDefKey){
                @   case "dean_audit":
                <div class="col-sm-6 b-r">
                    <#input id="comments" name="评语" underline="true" value="${item.comments}" type="textarea" />
                </div>
                @   case "zbzr_audit":
                <div class="col-sm-6 b-r">
                    <#select id="level" name="评级" underline="true">
                    <option >优秀</option>
                    <option >合格</option>
                    <option >不合格</option>
                    </#select>
                </div>
                @   case "re_submit":
                <div class="col-sm-6 b-r">
                    <#fileUpload id="kygz" name="考核文档" underline="true" accept="file" exts="docx,doc" mineType="application/excel"/>
                </div>
                @ case "hr_handle_audit":
                <div class="col-sm-6 b-r">
                    <#input id="year" name="设置年度" underline="true" />
                </div>
                @ case "hr_leader_audit":
                <div class="col-sm-6 b-r">
                    <#input id="year" name="年度" value="${item.year}" underline="true" readonly="readonly"/>
                </div>
                @}
            </div>


            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    @select(act.taskDefKey){
                    @ case "hr_handle_audit","dean_audit","glry_audit":
                    <#button btnCss="info" name="确认" id="ensure" icon="fa-check" clickFun="YearJsAssessInfoDlg.auditSubmit(1)"/>
                    @ case "hr_leader_audit":
                    <#button btnCss="info" name="通过" id="ensure" icon="fa-check" clickFun="YearJsAssessInfoDlg.auditSubmit(1)"/>
                    <#button btnCss="danger" name="重新设置年份" id="cancel" icon="fa-eraser" clickFun="YearJsAssessInfoDlg.auditSubmit(0)"/>
                    @ default:
                    <#button btnCss="info" name="通过" id="ensure" icon="fa-check" clickFun="YearJsAssessInfoDlg.auditSubmit(1)"/>
                    <#button btnCss="danger" name="驳回" id="cancel" icon="fa-eraser" clickFun="YearJsAssessInfoDlg.auditSubmit(0)"/>
                    @}
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="YearJsAssessInfoDlg.close()"/>
                    <a href="/yearJsAssess/previewDoc/${item.kygz}" class="btn btn-primary" target="_blank">查看考核文档</a>
                </div>
            </div>
            <#histoicFlow procInsId="${act.procInsId}"/>
        </div>
        
    </div>
</div>
<script>
    var proInsId = '${act.procInsId}';
</script>
<script src="${ctxPath}/static/modular/assess/yearJsAssess/yearJsAssess_info.js"></script>
@}
