@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>${modelName}管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <#NameCon id="userInfo" name="职工信息" placeholder="职工编号/姓名"/>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <#NameCon id="year" name="年度"/>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="level" name="考核等次" >
                                <option value="优秀">优秀</option>
                                <option value="合格">合格</option>
                                <option value="不定等">不定等</option>
                                <option value="基本合格">基本合格</option>
                                <option value="不合格">不合格</option>
                                </#SelectCon>
                            </div>
                            <div class=col-sm-2>
                                <#SelectCon id="status" name="状态" items="${constant.getDictsByName('年度考核状态')}"
                                itemLabel="name" itemValue="num" />
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="YearJsAssess.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="YearJsAssessTableToolbar" role="group">
                            <#button name="申请考核" icon="fa-plus" clickFun="YearJsAssess.openAddApply()" />
                            <#button name="导出考核文档" icon="fa-plus" clickFun="YearJsAssess.exportDoc()" space="true"/>
                            @if(shiro.hasPermission("/yearJsAssess/add")){
                                <#button name="添加" icon="fa-plus" clickFun="YearJsAssess.openAddYearJsAssess()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/yearJsAssess/update")){
                                <#button name="审核" icon="fa-plus" clickFun="YearJsAssess.audit()" space="true"/>
                                <#button name="导出考核汇总" icon="fa-plus" clickFun="YearJsAssess.exportTotal(${type!})" space="true"/>
                            @}
                            @if(shiro.hasPermission("/yearJsAssess/delete")){
                                <#button name="作废" icon="fa-plus" clickFun="YearJsAssess.cancellation()" space="true"/>
                            @}
                        </div>
                        <#table id="YearJsAssessTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="type" type="hidden" value="${type!}">
</div>
<script src="${ctxPath}/static/modular/assess/yearJsAssess/yearJsAssess.js"></script>
@}
