@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="SxjxAssessForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="content" name="考核内容" value="${item.content}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#avatar id="problemUrl" name="考核问题图片" underline="true" avatarImg="${item.problemUrl}"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="result" name="整改内容" value="${item.result}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="mainNormPoint" name="校级指标分" value="${item.mainNormPoint}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="collegeNormPoint" name="院级浮动值" value="${item.collegeNormPoint}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#avatar id="resultUrl" name="整改结果图片" underline="true" avatarImg="${item.resultUrl}"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="coePoint" name="考核系数" value="${item.coePoint}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="year" name="年份" value="${item.year}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zxmc" name="中心名称" value="${item.zxmc}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="SxjxAssessInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="SxjxAssessInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/assess/sxjxAssess/sxjxAssess_info.js"></script>
@}
