@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>岗位职责管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#SelectCon id="jobId" name="岗位" items="${jobList}"
                                itemLabel="name" itemValue="id" value="${jobId!}"/>
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="JobDuties.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="JobDutiesTableToolbar" role="group">
                            @if(shiro.hasPermission("/jobDuties/add")){
                                <#button name="添加" icon="fa-plus" clickFun="JobDuties.openAddJobDuties()"/>
                            @}
                            @if(shiro.hasPermission("/jobDuties/update")){
                                <#button name="修改" icon="fa-plus" clickFun="JobDuties.openJobDutiesDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/jobDuties/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="JobDuties.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="JobDutiesTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var jobId = "${jobId!}";
</script>
<script src="${ctxPath}/static/modular/job/jobDuties/jobDuties.js"></script>
@}
