@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="AssessNormPointForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="year" name="年度" value="${item.year}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jxddMain" name="教学督导校级分" value="${item.jxddMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jxddCollege" name="教学督导院级分" value="${item.jxddCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zzpaMain" name="综治平安校级分" value="${item.zzpaMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zzpaColleage" name="综治平安院级分" value="${item.zzpaColleage}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="sdsfMain" name="师德师风校级分" value="${item.sdsfMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="sdsfCollege" name="师德师风院级分" value="${item.sdsfCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zzjlMain" name="组织纪律校级分" value="${item.zzjlMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zzjlColleage" name="组织纪律院级分" value="${item.zzjlColleage}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="dfdjMain" name="党风党纪校级分" value="${item.dfdjMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="dfdjCollege" name="党风党纪院级分" value="${item.dfdjCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="ysxtMain" name="意识形态校级分" value="${item.ysxtMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="ysxtCollege" name="意识形态院级分" value="${item.ysxtCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="ldjlMain" name="劳动纪律校级分" value="${item.ldjlMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="ldjlCollege" name="劳动纪律院级分" value="${item.ldjlCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="kygzMain" name="科研工作校级分" value="${item.kygzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="kygzCollege" name="科研工作院级分" value="${item.kygzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zyjsMain" name="专业建设校级分" value="${item.zyjsMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zyjsCollege" name="专业建设院级分" value="${item.zyjsCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="xsgzMain" name="学生工作校级分" value="${item.xsgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="xsgzCollege" name="学生工作院级分" value="${item.xsgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="glfwMain" name="管理服务校级分" value="${item.glfwMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="glfwCollege" name="管理服务院级分" value="${item.glfwCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jxgzMain" name="教学工作校级分" value="${item.jxgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jxgzCollege" name="教学工作院级分" value="${item.jxgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="dzbgzMain" name="党支部工作校级分" value="${item.dzbgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="dzbgzCollege" name="党支部工作院级分" value="${item.dzbgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="fdyszgzMain" name="辅导员思政工作校级分" value="${item.fdyszgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="fdyszgzCollege" name="辅导员思政工作院级分" value="${item.fdyszgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="szjsszgzMain" name="思政教师思政工作校级分" value="${item.szjsszgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="szjsszgzCollege" name="思政教师思政工作院级分" value="${item.szjsszgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="bzryMain" name="表彰荣誉校级分" value="${item.bzryMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="bzryCollege" name="表彰荣誉院级分" value="${item.bzryCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="fdyrcgzMain" name="辅导员日常工作校级分" value="${item.fdyrcgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="fdyrcgzCollege" name="辅导员日常工作院级分" value="${item.fdyrcgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="sxjxMain" name="实训绩效校级分" value="${item.sxjxMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="sxjxCollege" name="实训绩效院级分" value="${item.sxjxCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="rypzMain" name="人员配置校级分" value="${item.rypzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="rypzCollege" name="人员配置院级分" value="${item.rypzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jshjMain" name="竞赛获奖校积分" value="${item.jshjMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jshjCollege" name="竞赛获奖院级分" value="${item.jshjCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zxgzMain" name="专项工作校积分" value="${item.zxgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="zxgzCollege" name="专项工作院级分" value="${item.zxgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="shpxgzMain" name="社会培训工作校积分" value="${item.shpxgzMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="shpxgzCollege" name="社会培训工作院级分" value="${item.shpxgzCollege}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jfwcqkMain" name="经费完成情况校积分" value="${item.jfwcqkMain}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="jfwcqkCollege" name="经费完成情况院级分" value="${item.jfwcqkCollege}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AssessNormPointInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AssessNormPointInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/assess/assessNormPoint/assessNormPoint_info.js"></script>
@}
