<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.job.dao.JobDutiesMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.job.model.JobDuties">
            <result column="id" property="id" />
            <result column="des" property="des" />
            <result column="point" property="point" />
            <result column="job_id" property="jobId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
	    id AS id,
	    des AS des,
	    point AS point,
	    job_id AS jobId
    </sql>

</mapper>
