@layout("/common/_container.html"){
<script>var ctxPath = '${ctxPath}${adminPath!}';</script>
<style>
    .main-center-m1 {
        text-align: center;
        width:70%;
        height:350px;
    margin:auto;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

    .main-center-m2 {
        text-align: center;
        width: 100%;
        height:1000px;
        margin:auto;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    .gray-bg {
        background-color: white;
    }
</style>
<div class="container-fluid main-center-m2" style="padding: 0 !important;">
    <div class="row main-center-m1">
        <img src="/static/img/index_bg.png" alt="福建船政交通职业学院" style="
background-size:cover;
-moz-background-size:cover; /* 老版本的 Firefox */
background-repeat:no-repeat;
background-position:center center;/*居中显示*/"/>
        <table class="layui-table">
            <tbody>
            <tr>
                <td rowspan="3">
                    @if(isEmpty(item.avatar)){
                    <img src="/static/img/index_icon.png">
                    @}else{
                    <img src="${ctxPath}/kaptcha/${item.avatar}">
                    @}
                </td>
                <td>姓名:&nbsp;&nbsp;${item.name!}</td>
                <td>工号:&nbsp;&nbsp;${item.account!}</td>
                <td>出生年月:&nbsp;&nbsp;${item != null && item.birthday != null ? dateUtil.formatDate(item.birthday,"yyyy-MM-dd")}</td>
            </tr>
            <tr>
                <td>性别:&nbsp;&nbsp;${item != null && item.sex != null ? constant.getDictsByName("性别",item.sex)}</td>
                <td>年龄:&nbsp;&nbsp;${item.age!}</td>
                <td>（拟）离退休时间:&nbsp;&nbsp;${item != null && item.retireDate != null ? dateUtil.formatDate(item.retireDate,"yyyy-MM-dd")}</td>
            </tr>
            <tr>
                <td>籍贯:&nbsp;&nbsp;${item.nativePlace!}</td>
                <td>出生地:&nbsp;&nbsp;${item.birthplace!}</td>
                <td>党派:&nbsp;&nbsp;${item.partyGroupings!}</td>
            </tr>
            </tbody>
        </table>
       @/* <img src="/static/img/logo.jpg" alt="福建船政交通职业学院" style="
background-size:cover;
-moz-background-size:cover; /* 老版本的 Firefox */
background-repeat:no-repeat;
background-position:center center;/*居中显示*/"/>
        <br><br><a class="btn btn-primary" onclick="safe()">安全系统</a>
        <script>
            function safe() {
                parent.window.location.href = "https://192.168.91.31";
            }
        </script>
        @*/
    </div>
</div>
@}
