<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校人事绩效管理平台</title>
    <link rel="shortcut icon" href="${ctxPath}/static/img/logo.jpg">
    <link rel="stylesheet" href="/static/css/login1.css">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
</head>
<body>
<div class="login">

    <div class="login_main">
        <div class="main_left">
        </div>
        <div class="main_right">
            <div class="right_title">用户登录</div>
            <div class="welcome">WELCOME TO THE SYSTEM</div>
            <div class="welcome"><h5 style="color: red;">${tips!}</h5></div>
            <form role="form" action="${ctxPath}/login" method="post">
                <div class="username">
                    <input class="login-input" name="username" type="text" placeholder="请输入用户名">
                </div>
                <div class="password">
                    <input type="password" name="password" placeholder="请输入密码">
                </div>
                <div class="yes_login"><button type="submit">登&nbsp;&nbsp;&nbsp;&nbsp;录</button></div>
            </form>
        </div>
    </div>
</div>

</body>
</html>