@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="ScientificTreatiseForm">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">

                <div class="col-sm-6 b-r">
                    <#input id="userId" name="用户ID" value="${item.userId}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="publishDate" name="发表时间" value="${item.publishDate}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="title" name="论文题目" value="${item.title}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="periodicalName" name="刊物名称" value="${item.periodicalName}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="authorOrder" name="作者顺序" value="${item.authorOrder}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="periodicalLevel" name="刊物级别" value="${item.periodicalLevel}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="procInsId" name="流程实例ID" value="${item.procInsId}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="status" name="状态" value="${item.status}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ScientificTreatiseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ScientificTreatiseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/user/scientificTreatise/scientificTreatise_info.js"></script>
@}
