@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="NormalAssessForm">

            <input type="hidden" id="taskId" value="${act.taskId}">
            <input type="hidden" id="procInsId" value="${act.procInsId}">
            <input type="hidden" id="taskDefKey" value="${act.taskDefKey}">
            <input type="hidden" id="type" value="${type}">

            <div class="row">
                @select(act.taskDefKey){
                @   case "hr_handle_audit":
                <div class="col-sm-6 b-r">
                    <#input id="year" name="年份" underline="true"/>
                </div>
                @}
                <div class="col-sm-6 b-r">
                    <#input id="comment" type="textarea" name="意见" underline="true"/>
                </div>
            </div>
            <table id="assessTable" lay-filter="test"></table>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="通过" id="ensure" icon="fa-check" clickFun="NormalAssessInfoDlg.auditSubmit(1)"/>
                    <#button btnCss="danger" name="驳回" id="cancel" icon="fa-eraser" clickFun="NormalAssessInfoDlg.auditSubmit(0)"/>
                    <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="NormalAssessInfoDlg.close()"/>
                </div>
            </div>
            <#histoicFlow procInsId="${act.procInsId}"/>
        </div>

    </div>
</div>
<script>
    var proInsId = '${proInsId}';
</script>
<script src="${ctxPath}/static/modular/assess/normalAssess/normalAssess_info.js"></script>
@}
