@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>考核管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="account" name="职工编号" value="${account!}"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="name" name="职工姓名"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="year" name="年度" value="${year!}"/>
                            </div>
                            <div class=col-sm-3>
                                <#SelectCon id="deptId" name="部门" items="${deptList}"
                                itemLabel="name" itemValue="id" />
                            </div>
                            <div class=col-sm-2>
                                <#SelectCon id="status" name="状态" items="${constant.getDictsByName('考核状态')}"
                                itemLabel="name" itemValue="num" />
                            </div>
                            <div class=col-sm-3>
                                <#TimeCon id="createTime" name="创建时间" isTime="true" pattern="yyyy/MM/dd HH:mm:ss" />
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="NormalAssess.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="NormalAssessTableToolbar" role="group">
                            <#button name="导入绩效数据" icon="fa-plus" clickFun="NormalAssess.openImportNormalAssess()"/>
                            <#button name="添加" icon="fa-plus" clickFun="NormalAssess.openAddNormalAssess()"/>
                            @if(shiro.hasPermission("/normalAssess/add")){
                            @}
                            @if(shiro.hasPermission("/normalAssess/update")){
                                <#button name="修改" icon="fa-plus" clickFun="NormalAssess.openNormalAssessDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/normalAssess/delete")){
                                <#button name="删除" icon="fa-plus" clickFun="NormalAssess.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="NormalAssessTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var type = '${type}';
</script>
<script src="${ctxPath}/static/modular/assess/normalAssess/normalAssess.js"></script>
@}
