@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="OtherInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">

                <div class="col-sm-6 b-r">
                    <#input id="otherKey" name="键名" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="otherValue" name="值" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="beizhu" name="备注" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                    <#input id="sorts" name="排序" underline="true"/>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OtherInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OtherInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/otherInfo/otherInfo_info.js"></script>
@}
